*.ff filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
*.sabl filter=lfs diff=lfs merge=lfs -text
*.sabs filter=lfs diff=lfs merge=lfs -text
iw4x-launcher.exe filter=lfs diff=lfs merge=lfs -text
